.recipe-steps{
  padding: 4px 16px 32px 16px;
  p{
    font-size: 14px;
    padding-left:20px;
  }
}

.recipe-step-img img {
  height: 192px;
  width:100%;
  object-fit: cover;
  margin-top: 4px;
  margin-bottom: 16px;
  border-radius: 2px;
}
.recipe-step-info{
 margin-bottom: 32px;

}



// .slot.recipe-step-info{
//   padding: 16px;
// }
