.recipe-container {
  padding: 0px 24px;
  display: flex;
  flex-direction: column;
  // border: 1px solid black;
  img {
    height: 192px;
    object-fit: cover;
    width:100%;
    margin-bottom: 16px;
    border-radius: 2px;
  }
  h1 {
    color: $text-color;
    font-size: $main-header;
    margin-bottom:16px;
  }

  h2 {
    color: $text-color;
    font-size: $sub-header;
    margin-top:8px;
  }

  label {
    color: $primary-color;
    margin:12px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    padding-right: 16px;
    gap: 8px;
    text-align: right;
    }

   .form-check-input {
    margin:12px;
    width: 2em;
    height: 2em;

  }

  .form-check-input:checked {
    background-color: #24ae54;
    border-color: #24ae54;
  }

}

p {
  color:$text-color;
  font-size:12px;
}

.recipe-info {
  display: flex;
  gap:6px;
  align-items: flex-start;
  margin-bottom: 8px;
}

.reviews{
  color:$text-color;
  font-size: $sub-header;
  margin-bottom:16px;

}

.recipe-ing {
  margin-bottom:24px;
  display: flex;
  flex-direction: column;
  color: $primary-color;
  padding-right:16px;
  gap:8px;
}

.missing-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.recipe-ing h2 {
  color: $primary-color;
}

.btn{
  padding: 0;
  // margin-bottom: 8px;
  --bs-btn-border-width: 0px;
}

.btn p{
justify-content: center;
display: flex;
align-items: center;
gap:6px;
color:#E4425F;
font-weight:600;
border: 1px solid #E4425F;
padding:6px;
border-radius: 24px;
}

.recipe-description{
  // background-color: red;
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  font-size: 14px;
}

.recipe-description p{
  font-size: 14px;
}

.review-section {
  margin-bottom: 8px;
  height: 200px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap:8px;
}
