.recipe-container {
  padding: 0px 24px;
  display: flex;
  flex-direction: column;
  // border: 1px solid black;
margin-bottom: 32px;
  img {
    height: 192px;
    object-fit: cover;
    width:100%;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 2px;
  }

  h2{
    margin-bottom: 8px;
  }
  h3{
    color: $text-color;

  }
}

.recipe-top{
  display: flex;
  flex-direction: row;
}


.recipe-ing {
  margin-top:8px;
  margin-bottom:24px;
  display: grid;
  row-gap:4px;
  column-gap: 16px;;
  grid-template-columns: repeat(2, 80px);

  h3 {
  color: $text-color;
  font-weight: 300;
  font-family: $headers-font;
  }
}

.recipe-info {
  display: flex;
  gap:8px;
  // justify-content: center;
  margin-bottom: 16px;;
}

p {
  color:$text-color
}

.btn{
  padding: 0;
  margin-bottom: 8px;
  --bs-btn-border-width: 0px;
}

.btn p{
justify-content: center;
display: flex;
align-items: center;
gap:6px;
color:#E4425F;
font-weight:600;
border: 1px solid #E4425F;
padding:8px;
border-radius: 24px;
}
