.recipe-steps{
  position: relative;
  height: 100vh;
  padding: 4px 0px 32px 0px;
  p{
    font-size: 15px;
  }
  h3{
    font-weight: 400;
  }
  h6{
    color: $text-color;
  }
}

.recipe-step-img img {
  height: 192px;
  width:100%;
  object-fit: cover;
  margin-top: 4px;
  border-radius: 2px;
}

.recipe-step-info{
  margin-top:32px;
  padding: 0px 48px;
  h6{
    padding-bottom: 8px;
  }
}

.recipe-step-desc{
  padding: 0px 48px;
  margin-bottom: 32px;
  h6{
    margin-bottom: 0px;
    padding-bottom: 8px;
  }
}
.step-no {
  position: absolute;
  color: $primary-color;
  font-weight: 400;
  display: flex;
  font-size: $sub-header;
  align-self: center;
  justify-content: center;
  align-items: center;
  padding:16px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  z-index: 1;
  top:165px;
  right: 180px;
  background-color: white;
  border: 3px solid $primary-color;
}


.recipe-ing{
  display: block;
  padding-bottom: 16px;
  margin: 0px;
  p {color: $text-color;
    font-size: 10px;
    }
  .pill-box {
    padding: 9px;
  }
  h6{
    padding: 0px;
    margin-bottom:8px;
  }
}
