.recipe-page{
display: flex;
flex-direction: column;
padding: 0px 24px;
// height: 100vh;
img {
  height:100%;
  object-fit: cover;
  width:89px;
  }
  h2 {
    font-size:$sub-header;
    color:$text-color;
    font-family: $headers-font;
    padding-bottom: 16px;
  }
  h3 {
    font-size:$card-header;
    color: $primary-color;
    font-weight: bolder;
    margin-bottom:0;

  }
  h1{
    font-size:$main-header;
    color: $primary-color;
    font-family: $headers-font;
  }
}

.recipe-card {
  display: flex;
  height: 118px;
  border-radius: 25px;
  gap:8px;
  position: relative;
  overflow: hidden;
  box-shadow: 3px 8px 24px 0px rgba(0, 0, 0, 0.09);
  margin-bottom:16px;
  border: 0.25px solid $secondary-text-color;
}

.card-contents{
  padding:10px;
}

.chef-name {
  color: $secondary-text-color;
  font-family: $headers-font;
}

p {
  font-size: $text;
  margin:0;
}

.pill-box {
  margin-top:8px;
  padding:4px 8px;
  background-color: $secondary-color;
  border: 0.5px solid $primary-color;
  border-radius: 25px;
  color: $text-color;
  display: inline-block;
}

.recipe-card-link{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
