.shopping-cart{
padding:0 16px;
height: 100vh;
display: flex;
flex-direction: column;

h1 {
  font-size:$main-header;
  color: $text-color;
  font-family: $headers-font;
  margin-bottom:16px;
  text-align: left;
}
h2 {
  color: $text-color;
  font-size: $sub-header;
  margin-bottom: 10px;
  font-weight: 300;
  }


  .missing-items-shopping-cart {
    color: $primary-color;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    margin:12px;
    margin-bottom: 148px;
  }
}

a {
text-decoration: none;
}

a:hover {
  color: $text-color;
  }

.map-filters {
  display: flex;
  justify-content: center;
  gap:8px;
  padding-bottom: 8px;
}

.mapboxgl-popup-content {
  border-radius: 8px;
  border: 1px solid $secondary-text-color;
  box-shadow: 0px 10px 30px 4px rgba(29, 28, 28, 0.08);
  p{
    font-size: 16px;
    color: $text-color;
    font-weight: 400;
  }
  h6 {
    color: $primary-color;
    font-size: 16px;
    font-weight: 600;
  }
  // background-color: red;
}

#map{
  border-radius: 4px;
  margin-bottom: 16px;
  margin-top: 8px;
  // box-shadow: 0px 10px 30px 4px rgba(29, 28, 28, 0.08);
}
