<p>Shopping Cart Show Page, missing Items will go here</p>

<p>MAP:</p>
<div data-controller="map"
id='map'
data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>"
data-map-markers-value= "<%= @markers.to_json %>"
style='width: 400px; height: 300px;'>
</div>
