<h1>Recipe</h1>
<h2>Rating: <%= @average %></h2>
<% @recipe.recipe_food_item.each do |ing| %>
 <p><%= ing.food_item.name %></p>
  <% end %>
<%= link_to 'Cooking Steps', recipe_recipe_steps_path(@recipe.id)%>
