<div style="background-image: url(<%= asset_path 'landingpage.jpg' %>);
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;"
  >
  <h1>What's Cooking</h1>
  <h3>Discover Delicious Recipes Based on the Ingredients you Have at Home!</h3>
  <%= link_to "Let's start!", food_categories_path, class: "primary-btn-home" %>
</div>
