<h1>Find Today's Recipe</h1>
<h3>Choose available ingredients</h3>



<%= simple_form_for :food_item do |f| %>
<%= f.input :category,
include_hidden: false,
            as: :check_boxes,
            input_html: {multiple:true},
            collection: @food_items %>
<% end %>
