<h1>Find Today's Recipe</h1>
<h3>Choose available ingredients</h3>

<%= simple_form_for :food_item, url:  recipes_path, method: :get do |f| %>
<%= f.input :your_selection,
            as: :check_boxes,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {multiple:true, class: 'category-selector'},
            collection: @food_items %>
<%= f.submit "Done", class: "primary-btn", style:"color:white"%>
<% end %>
