<h1>Find Today's Recipe</h1>
<h3>Choose available ingredients</h3>

<%= simple_form_for :food_item, url:  recipes_path, method: :get do |f| %>
<%= f.input :food_item,
            as: :check_boxes,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {multiple:true}
            #collection:   { style: "background-image: url(#{cl_image_path(:food_image)})" }
            %>

<%= f.submit "Done", class: "btn btn-primary", style:"color:white"%>
<% end %>
