.primary-btn{
  height: 47px;
  width: 326px;
  left: 32px;
  top: 720px;
  border-radius: 25px;
  padding: 12px 102px 12px 102px;
  background-color: $secondary-color;
  color: $primary-color;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.75px;
  margin: 0 auto;
}
