<div class = 'food-item-page'>
  <h1>Find Today's Recipe</h1>
  <h2>Choose available ingredients</h2>

  <%= simple_form_for :food_item, url:  food_categories_path, method: :get do |f| %>
  <% food_array = @food_items.map do |food| food.name end %>

  <%= f.input :your_selection,
              as: :check_boxes,
              multiple: true,
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'category-wrapper_search',
              item_wrapper_class: 'category-item_search',
              input_html: {multiple:true, class: 'category-selector_search'},
              collection: @food_items.map {|food|[food.name, food.id, style:"background-image:url(#{image_path "#{food.name.downcase}.jpg"})"]} %>
  <%= f.submit "Done", class: "primary-btn", style:"border: none"%>
  <% end %>
</div>
